<app-header></app-header>
<app-aside></app-aside>

<!-- content -->
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-light lter b-b wrapper-md">
            <h1 class="m-n font-thin h3">Product</h1>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Form Product</div>
                        <div class="panel-body">
                            <form class="bs-example form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Name</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" [(ngModel)]="product.name" name="name">
                                                <span class="help-block m-b-none">Example block-level help text here.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Description</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" [(ngModel)]="product.description" name="description">
                                                <span class="help-block m-b-none">Example block-level help text here.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Product Type</label>
                                            <div class="col-lg-10">
                                                <select [(ngModel)]="product.product_type_id" name="product_type_id" class="form-control m-b">
                                                    <option *ngFor="let productType of productTypes" value="{{ productType.id }}">{{ productType.name }}</option>
                                                </select>
                                                <span class="help-block m-b-none">Example block-level help text here.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button *ngIf="!isEdit" type="submit" class="btn m-b-xs w-xs btn-primary btn-rounded" (click)="addProduct($event)">Add</button>
                                                <button *ngIf="isEdit" class="btn m-b-xs w-xs btn-warning btn-rounded" (click)="updateProduct($event)">Update</button>
                                                <button *ngIf="isEdit" class="btn m-b-xs btn-rounded btn-default btn-addon" (click)="cancleEdit($event)"><i class="fa fa-ban"></i>Cancle</button>
                                                <button class="btn m-b-xs btn-rounded btn-default btn-addon" (click)="clearInput($event)"><i class="fa fa-eraser"></i>Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">
                            List Product
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-b">
                                <thead>
                                    <tr>
                                        <th style="width:5%">ID</th>
                                        <th style="width:25%">Name</th>
                                        <th style="width:25%">Description</th>
                                        <th style="width:25%">Product Type</th>
                                        <th style="width:10%">Edit</th>
                                        <th style="width:10%">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.description }}</td>
                                        <td>{{ product.product_type_name }}</td>
                                        <td><button class="btn btn-sm btn-primary" (click)="loadProduct(product.id)"><i class="fa fa-pencil"></i></button></td>
                                        <td><button class="btn btn-sm btn-danger" (click)="deactiveProduct(product.id)"><i class="fa fa-trash-o"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->

<app-footer></app-footer>