/node_modules
/public/storage
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
/public/dev/node_modules
/public/home
/documents/vsys.vux
/documents/.vsys.vpp.lck
/documents/vsys.vpp.bak*
/documents/.~lock*
